name: Regression

on:
  push:
    branches:
       - develop

jobs:
    cypress-run:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v4.1.1

        - name: Cypress.io
          uses: cypress-io/github-actions@v6.5.0
          with:
             command: npx cypress run
             

